@font-face {
  font-family: xan;
  src: url(../font/XanhMono-Regular.ttf);
}
@font-face {
  font-family: Baskerville;
  src: url(../font/Baskerville-regular.ttf);
}

html {
  cursor: none;
}

body {
  background: black;
  overflow: hidden;
}

.wrapper {
  left: 50%;
  transform: translateX(-50%);
  position:relative;
  margin-top: 250px;
}
.wrapper div{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
}
#stream {
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
#stream img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
}
#overlay {
  z-index: 1;
}
svg{
opacity: 0.75;
}

#divination {
  width:800px;
  height:400px;
  position:absolute;
  bottom:400px;
  left:0;
  right:0;
  margin:auto;
  padding:100px;
  z-index:2;
  color: #ddd;
}

#divination h4 {
  font-size: 48px;
  display: none;
  font-family:xan;

}
#divination #message {
  display: none;
}

#divination span {
  font-size: 36px;
  font-family:xan;
}
