@font-face {
  font-family: DIN;
  src: url(../font/DIN-1451-Mittelschrift.ttf);
}
@font-face {
  font-family: Baskerville;
  src: url(../font/Baskerville-regular.ttf);
}

body {
  background: black;
}

.wrapper {
  left: 50%;
  transform: translateX(-50%);
  position:relative;
}
.wrapper div{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
}
#stream {
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
#stream img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
}
#overlay {
  z-index: 1;
}
svg {

}

#divination {
  width:500px;
  height:300px;
  margin:auto;
  padding:100px;
  color:white;
  z-index:2;
}
#divination h4 {
  font-size: 24px;
  display: none;
  font-family:DIN;
}
#divination span {
  font-size: 18px;
  font-family:Baskerville;
}
