body {
  background: black;
}
#stream img{
  width: 900px;
  height: 900px;
}
.wrapper div{
  position:absolute;
  top:0;
  left:0;
}
#overlay {
  z-index: 1;
}
#divination {
  width:500px;
  height:300px;
  margin:auto;
  padding:100px;
  color:white;
  z-index:2;
}
#divination h4 {
  font-size: 24px;
  display: none;
}
#divination span {
  font-size: 18px;
}

svg {

}
.wrapper {
  left: 50%;
  transform: translateX(-50%);
  position:relative;
  width: 900px;
  height: 900px;
}
